<!DOCTYPE html>
<html>

<head>

    <title>Student Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/recommendation">Career Recommendation</a>
</nav>



<h1>Student Profile</h1>



<div class="card profile-card">


    <h2>👩‍💻 Pravalika</h2>


    <p><b>Branch:</b> Information Science Engineering</p>


    <p><b>Career Goal:</b> Software Engineer</p>


    <p><b>Programming Language:</b> Python</p>


    <p><b>Learning:</b> DSA, SQL, Web Development</p>


    <p><b>Current Focus:</b> Placement Preparation</p>


    <h3>Career Target</h3>


    <p>
        Become a skilled software engineer by improving coding,
        problem solving and development skills.
    </p>


</div>



</body>

</html>