<!DOCTYPE html>
<html>

<head>

    <title>Career Recommendation</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/recommendation">Career Recommendation</a>
</nav>


<h1>Career Recommendation</h1>



<div class="card profile-card">


    <h2>🚀 Recommended Career</h2>


    <h3>Software Engineer</h3>


    <p>
        Based on your current skills, you are suitable for a Software Developer role.
    </p>


    <h3>Required Skills</h3>

    <p>✅ Python</p>
    <p>✅ DSA</p>
    <p>✅ SQL</p>
    <p>✅ Web Development</p>



    <h3>Next Steps</h3>

    <p>• Practice coding problems daily</p>
    <p>• Build real-world projects</p>
    <p>• Prepare for technical interviews</p>


</div>


</body>

</html>